/* 代码块高亮样式 */
code{
    text-align: left;
    margin: 0 auto;
    width: 65%;
}
pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
}
code.hljs {
    padding: 3px 5px;
}
.hljs {
    color: black;
    background: #8c939d;
}
.hljs-subst {
    color: #eaeaea;
}
.hljs-emphasis {
    font-style: italic;
}
.hljs-strong {
    font-weight: 700;
}
.hljs-type {
    color: #eaeaea;
}
/* 参数 */
.hljs-params {
    color: #ea00ff;
}

/* true颜色 */
.hljs-literal,
.hljs-name,
.hljs-number {
    color: rgb(105, 195, 255);
    font-weight: bolder;
}
/* 注释颜色 */
.hljs-comment {
    color: #8a8a8a;
}
.hljs-quote,
.hljs-selector-id {
    color: #0ff;
}
/* 函数颜色 */
.hljs-template-variable,
.hljs-title,
.hljs-variable {
    color: #c3bf7b;
    font-weight: 700;
}

/* 对象颜色 */
.hljs-keyword,
.hljs-selector-class,
.hljs-symbol {
    color: #9d6bb4;
}
/* 值的颜色 */
.hljs-bullet,
.hljs-string {
    color: rgb(255, 142, 66);
}

.hljs-section,
.hljs-tag {
    color: rgb(105, 195, 255);
}
.hljs-selector-tag {
    color: #000fff;
    font-weight: 700;
}
.hljs-attribute,
.hljs-built_in,
.hljs-link,
.hljs-regexp {
    color: rgb(105, 195, 255);
}
.hljs-meta {
    color: #fff;
    font-weight: bolder;
}
.bigBox{
    display: flex;
    /* background-image: url("../assets/bg4.png"); */
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
    flex-direction: column;
}
.contentBox{
    overflow-y: scroll;
    text-align: center;
    opacity: .7;
    box-shadow: 0px 15px 25px rgba(0,0,0,.15);
    background: rgb(244,243,249);
    font-family: 华文楷体;
    width: 75%;
    margin: 1% auto;
    border-radius: 2%;
    text-align: left;
    padding: 5%;
}
.contentBox h1{
    /* color: #409EFF; */
}
.contentBox img{
    width: 65%;
}
.ql-align-center{
    text-align:center;
}
.ql-align-right{
    text-align: right;
}
.ql-indent-1{
    text-align: left;
}
